openapi: 3.1.0
info:
  title: Todoist Comments Sync API
  description: The Todoist API v1 provides programmatic access to task management, projects, sections, labels, reminders, comments, workspaces, and more. Supports OAuth 2.0 and personal API tokens. Includes incremental sync via the /sync endpoint.
  version: '1.0'
  contact:
    name: Todoist Developer Support
    url: https://developer.todoist.com/
  termsOfService: https://doist.com/terms-of-service
  license:
    name: Todoist API Terms
    url: https://developer.todoist.com/
servers:
- url: https://api.todoist.com/api/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Sync
  description: Incremental sync operations
paths:
  /sync:
    post:
      operationId: sync
      summary: Sync Resources
      description: Primary sync endpoint for batch read/write operations. Retrieve resources by specifying resource_types or execute commands for write operations. Supports incremental synchronization via sync_token.
      tags:
      - Sync
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - sync_token
              - resource_types
              properties:
                sync_token:
                  type: string
                  description: Use '*' for full sync or token from previous response
                resource_types:
                  type: string
                  description: JSON array of resource types to retrieve
                commands:
                  type: string
                  description: JSON array of write commands
      responses:
        '200':
          description: Sync response with updated resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  sync_token:
                    type: string
                  full_sync:
                    type: boolean
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Task'
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
components:
  schemas:
    Task:
      type: object
      properties:
        id:
          type: string
        content:
          type: string
          description: Task content/title
        description:
          type: string
        project_id:
          type: string
        section_id:
          type: string
        parent_id:
          type: string
        order:
          type: integer
        labels:
          type: array
          items:
            type: string
        priority:
          type: integer
          enum:
          - 1
          - 2
          - 3
          - 4
        due:
          $ref: '#/components/schemas/Due'
        deadline:
          $ref: '#/components/schemas/Deadline'
        assignee_id:
          type: string
        assigner_id:
          type: string
        comment_count:
          type: integer
        is_completed:
          type: boolean
        created_at:
          type: string
          format: date-time
        creator_id:
          type: string
        url:
          type: string
    Deadline:
      type: object
      properties:
        date:
          type: string
        lang:
          type: string
    Due:
      type: object
      properties:
        date:
          type: string
        is_recurring:
          type: boolean
        string:
          type: string
        datetime:
          type: string
          format: date-time
        timezone:
          type: string
    Project:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        color:
          type: string
        parent_id:
          type: string
        order:
          type: integer
        comment_count:
          type: integer
        is_shared:
          type: boolean
        is_favorite:
          type: boolean
        is_inbox_project:
          type: boolean
        is_team_inbox:
          type: boolean
        view_style:
          type: string
        url:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Personal API token or OAuth 2.0 access token
